body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

div {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
  font-size: 34px;
  color: #333;
}

/* Input and button styles */
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Result area styles */
#resultArea {
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

#translationResult {
  font-size: 20px;
  color: #007bff;
}

#definitionResult {
  font-size: 20px;
  color: #333;
}

.scan-translator-panel-root {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

/* Center the buttons using Flexbox */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Add spacing between the input and buttons */
}

/* Style the buttons */
.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px; /* Add spacing between the buttons */
}

.button-container button:hover {
  background-color: #0056b3;
}

#wordInput {
  width: 100%; /* Take up the full width of the container */
  max-width: 300px; /* Limit the input's maximum width */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
